<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ejs-addon demo</title>
    <%- css %>
</head>
<body>
<%- body %>
<%- js %>
</body>
</html>
